// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #3284BF; // UCLA Blue
$dark-blue:            #0054A6;
$light-blue:           #00A5E5;
$ucla-gold:            #FFE800;
$ucla-gold-20-tint:    rgba(255, 232,0,.2);
$ucla-blue:            #3284BF;

// Brand Fonts
$sans-serif: 'Proxima Nova Regular', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$italic-sans-serif: 'Proxima Nova Regular Italic', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$light-sans-serif: 'Proxima Nova Light', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$semibold-sans-serif: 'Proxima Nova Semibold', 'Helvetica Neue', Helvetia, Arial, sans-serif;
$bold-sans-serif: 'Proxima Nova Bold', 'Helvetica Neue', Helvetia, Arial, sans-serif;

// Breakpoints
$large-device: 1200px;
$medium-device: 992px;
$small-device: 768px;
$iphone: 320px;
